/* ==========================================================================
	#General
========================================================================== */
#pjWrapper,
#pjWrapper .pjSlForm .form-control { color: #545c5e; }
#pjWrapper * { font-family: 'Lato', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .btn-link { color: #f34c2a; }
#pjWrapper .btn-link:before { background: #f34c2a; }

#pjWrapper .btn-primary { border-color: #d0391c; color: #fff; 
	background: rgb(243,76,42);
	background: -moz-linear-gradient(top,  rgba(243,76,42,1) 0%, rgba(243,74,41,1) 20%, rgba(234,64,29,1) 80%, rgba(232,62,29,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(243,76,42,1) 0%,rgba(243,74,41,1) 20%,rgba(234,64,29,1) 80%,rgba(232,62,29,1) 100%);
	background: linear-gradient(to bottom,  rgba(243,76,42,1) 0%,rgba(243,74,41,1) 20%,rgba(234,64,29,1) 80%,rgba(232,62,29,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f34c2a', endColorstr='#e83e1d',GradientType=0 );
}
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { 
	background: rgb(232,62,29);
	background: -moz-linear-gradient(top,  rgba(232,62,29,1) 0%, rgba(234,64,29,1) 20%, rgba(243,74,41,1) 80%, rgba(243,76,42,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(232,62,29,1) 0%,rgba(234,64,29,1) 20%,rgba(243,74,41,1) 80%,rgba(243,76,42,1) 100%);
	background: linear-gradient(to bottom,  rgba(232,62,29,1) 0%,rgba(234,64,29,1) 20%,rgba(243,74,41,1) 80%,rgba(243,76,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e83e1d', endColorstr='#f34c2a',GradientType=0 );
}

#pjWrapper .btnBack:before { border-color: #d0391c; }
#pjWrapper .btnBack:hover:before { border-color: #f34c2a; }

/* ==========================================================================
	#pjSlForms
========================================================================== */
#pjWrapper .pjSlForm label { color: #37383a; }
#pjWrapper .pjSlForm .form-control::-webkit-input-placeholder { color: #545c5e; }
#pjWrapper .pjSlForm .form-control:-moz-placeholder { color: #545c5e; }
#pjWrapper .pjSlForm .form-control::-moz-placeholder { color: #545c5e; }
#pjWrapper .pjSlForm .form-control:-ms-input-placeholder { color: #545c5e; }
#pjWrapper .pjSlForm .form-control { border-color: #bebabb; background: #fff; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .form-control:focus { border-color: #d0391c; -webkit-box-shadow: 0 0 10px rgba(208, 57, 28, .3); box-shadow: 0 0 10px rgba(208, 57, 28, .3); }

#pjWrapper .pjSlForm .input-group .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .input-group .input-group-addon { border-color: #bebabb; background: #f7f7f7; color: #f34c2a; }
#pjWrapper .pjSlForm .input-group .input-group-addon:hover,
#pjWrapper .pjSlForm .input-group .input-group-addon:focus,
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { color: #d0391c; }
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { border-color: #d0391c; }

#pjWrapper .pjSlFormFilters .form-control::-webkit-input-placeholder { color: #fff; }
#pjWrapper .pjSlFormFilters .form-control:-moz-placeholder { color: #fff; }
#pjWrapper .pjSlFormFilters .form-control::-moz-placeholder { color: #fff; }
#pjWrapper .pjSlFormFilters .form-control:-ms-input-placeholder { color: #fff; }
#pjWrapper .pjSlFormFilters .form-control { border-color: #191816; background: #292728; color: #fff; }
#pjWrapper .pjSlFormFilters .input-group .input-group-addon { border-color: #191816; background: #292728; color: #fff; }
#pjWrapper .pjSlFormFilters .input-group .input-group-addon:hover,
#pjWrapper .pjSlFormFilters .input-group .form-control:focus ~ .input-group-addon { color: #f34c2a; }
#pjWrapper .pjSlFormFilters .input-group .form-control:focus ~ .input-group-addon { border-color: #f34c2a; }

#pjWrapper .pjSlCustomCheckbox label { color: #fff; }
#pjWrapper .pjSlCustomCheckboxFake { border-color: #191816; background: #292728; color: #f34c2a; }
#pjWrapper .pjSlCustomInputChecked .pjSlCustomCheckboxFake { border-color: #f34c2a; }

#pjWrapper .pjSlFormFiltersDropdownTitle { color: #fff; }

/* ==========================================================================
	#pjSlMain
========================================================================== */
#pjWrapper .pjSlMain,
#pjWrapper .pjSlMain .panel-heading,
#pjWrapper .pjSlMain .panel-body,
#pjWrapper .pjSlMain .panel-footer { border-color: #f3f1f2; }

/* ==========================================================================
	#pjSlHeader
========================================================================== */
#pjWrapper .pjSlHeader { background: #3d3938; }

#pjWrapper .pjSlLaunguage .dropdown-toggle { border-color: #191816; background: #292728; color: #fff; }
#pjWrapper .pjSlLaunguage.open .dropdown-toggle,
#pjWrapper .pjSlLaunguage .dropdown-toggle:hover { background: #191816; color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu { border-color: #191816; background: #191816; }
#pjWrapper .pjSlLaunguage .dropdown-menu a { color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu a:hover,
#pjWrapper .pjSlLaunguage .dropdown-menu .current a { color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu a:hover { background: #d0391c; }
#pjWrapper .pjSlLaunguage .dropdown-menu .current a { background: #f34c2a; }

/* ==========================================================================
	#pjSlBody
========================================================================== */
#pjWrapper .pjSlBody { background: #f3f1f2; }

#pjWrapper .pjSlResults .pjSlResult { border-color: #f3f1f2; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(odd) { background: #f3f1f2; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(even) { background: #fff; }
#pjWrapper .pjSlResults .pjSlResultTitle { color: #37383a; }
#pjWrapper .pjSlResults .pjSlResultTitle a:hover,
#pjWrapper .pjSlResults .pjSlResultTitle a:focus { color: #f34c2a; }
#pjWrapper .pjSlResults .pjSlResultContent dt { color: #37383a; }
#pjWrapper .pjSlAccordionActions a { color: #d0391c; }
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"],
#pjWrapper .pjSlAccordionActions a:hover,
#pjWrapper .pjSlAccordionActions a:focus { color: #f34c2a; }
#pjWrapper .pjSlAccordionActions a .pjSlAccordionSign { border-color: #bebabb; background: #fff; }
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"] .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:hover .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:focus .pjSlAccordionSign { border-color: #f34c2a; background: #f34c2a; color: #fff; }

/* ==========================================================================
	#pjSlMapInfoWindow
========================================================================== */
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowTitle { color: #37383a; }
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowContent dt { color: #37383a; }