/* ==========================================================================
	#General
========================================================================== */
#pjWrapper,
#pjWrapper .pjSlForm .form-control { color: #90908e; }
#pjWrapper * { font-family: 'Roboto Condensed', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }
#pjWrapper .pjSlContainer { background: #2b1b02; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .btn-link { color: #f65a1f; }
#pjWrapper .btn-link:before { background: #f65a1f; }

#pjWrapper .btn-primary { border-color: #e25925; background: #f65a1f; color: #fff; }
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { background: #e25925; }

#pjWrapper .btnBack:before { border-color: #f65a1f; }
#pjWrapper .btnBack:hover:before { border-color: #fed45e; }

/* ==========================================================================
	#pjSlForms
========================================================================== */
#pjWrapper .pjSlForm label { color: #fff; }
#pjWrapper .pjSlForm .form-control::-webkit-input-placeholder { color: #90908e; }
#pjWrapper .pjSlForm .form-control:-moz-placeholder { color: #90908e; }
#pjWrapper .pjSlForm .form-control::-moz-placeholder { color: #90908e; }
#pjWrapper .pjSlForm .form-control:-ms-input-placeholder { color: #90908e; }
#pjWrapper .pjSlForm .form-control { border-color: #251d10; background: #251d10; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .form-control:focus { border-color: #f65a1f; -webkit-box-shadow: 0 0 10px rgba(246, 90, 31, .3); box-shadow: 0 0 10px rgba(246, 90, 31, .3); }

#pjWrapper .pjSlForm .input-group .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .input-group .input-group-addon { border-color: #251d10; background: #251d10; color: #fed45e; }
#pjWrapper .pjSlForm .input-group .input-group-addon:hover,
#pjWrapper .pjSlForm .input-group .input-group-addon:focus,
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { color: #f65a1f; }
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { border-color: #f65a1f; }

#pjWrapper .pjSlFormFilters .form-control { border-color: #3b2808; background: #3b2808; }
#pjWrapper .pjSlFormFilters .input-group .input-group-addon { border-color: #3b2808; background: #3b2808; }

#pjWrapper .pjSlCustomCheckbox label { color: #fff; }
#pjWrapper .pjSlCustomCheckboxFake { border-color: #3b2808; background: #3b2808; color: #f65a1f; }
#pjWrapper .pjSlCustomInputChecked .pjSlCustomCheckboxFake { border-color: #f65a1f; }

#pjWrapper .pjSlFormFiltersDropdownTitle { color: #fed45e; }

/* ==========================================================================
	#pjSlMain
========================================================================== */
#pjWrapper .pjSlMain,
#pjWrapper .pjSlMain .panel-heading,
#pjWrapper .pjSlMain .panel-body,
#pjWrapper .pjSlMain .panel-footer { border-color: #2b1b02; }
#pjWrapper .pjSlMain { background: #2b1b02; }

/* ==========================================================================
	#pjSlHeader
========================================================================== */
#pjWrapper .pjSlHeader { background: #1a1004; }

#pjWrapper .pjSlLaunguage .dropdown-toggle { border-color: #3b2808; background: #3b2808; color: #fff; }
#pjWrapper .pjSlLaunguage.open .dropdown-toggle,
#pjWrapper .pjSlLaunguage .dropdown-toggle:hover { border-color: #2b1b02; background: #3b2808; color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu { border-color: #2b1b02; background: #3b2808; }
#pjWrapper .pjSlLaunguage .dropdown-menu a { color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu a:hover { background: #f65a1f; color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu .current a { background: #fed45e; color: #f65a1f; }

/* ==========================================================================
	#pjSlBody
========================================================================== */
#pjWrapper .pjSlBody { background: #3c270a; }

#pjWrapper .pjSlResults .pjSlResult { border-color: #2b1b02; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(odd) { background: #3c270a; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(even) { background: #1a1004; }

#pjWrapper .pjSlResults .pjSlResultTitle { color: #fed45e; }
#pjWrapper .pjSlResults .pjSlResultTitle a:hover,
#pjWrapper .pjSlResults .pjSlResultTitle a:focus { color: #f65a1f; }
#pjWrapper .pjSlResults .pjSlResultContent dt { color: #90908e; }
#pjWrapper .pjSlResults .pjSlResultContent dd { color: #fff; }
#pjWrapper .pjSlAccordionActions a { color: #f65a1f; }
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"],
#pjWrapper .pjSlAccordionActions a:hover,
#pjWrapper .pjSlAccordionActions a:focus { color: #fed45e; }
#pjWrapper .pjSlAccordionActions a .pjSlAccordionSign { border-color: #f65a1f; background: #f65a1f; color: #fff; }
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"] .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:hover .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:focus .pjSlAccordionSign { border-color: #fed45e; background: #fed45e; color: #f65a1f; }

/* ==========================================================================
	#pjSlMapInfoWindow
========================================================================== */
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowTitle { color: #f65a1f; }
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowContent dt { color: #90908e; }
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowContent dd { color: #2b1b02; }