/* ==========================================================================
	#General
========================================================================== */
#pjWrapper,
#pjWrapper .pjSlForm .form-control { color: #565b5e; }
#pjWrapper * { font-family: 'Oswald', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .btn-link { color: #1ca76c; }
#pjWrapper .btn-link:before { background: #1ca76c; }

#pjWrapper .btn-primary { border-color: #12965d; background: #1ca76c; color: #fff; }
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { background: #12965d; }

#pjWrapper .btnBack:before { border-color: #12965d; }
#pjWrapper .btnBack:hover:before { border-color: #1ca76c; }

/* ==========================================================================
	#pjSlForms
========================================================================== */
#pjWrapper .pjSlForm label { color: #0d0f0e; }
#pjWrapper .pjSlForm .form-control::-webkit-input-placeholder { color: #fff; }
#pjWrapper .pjSlForm .form-control:-moz-placeholder { color: #fff; }
#pjWrapper .pjSlForm .form-control::-moz-placeholder { color: #fff; }
#pjWrapper .pjSlForm .form-control:-ms-input-placeholder { color: #fff; }
#pjWrapper .pjSlForm .form-control { border-color: #a4a2a3; background: #a4a2a3; color: #fff; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .form-control:focus { border-color: #12965d; -webkit-box-shadow: 0 0 10px rgba(18, 150, 93, .3); box-shadow: 0 0 10px rgba(18, 150, 93, .3); }

#pjWrapper .pjSlForm .input-group .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjSlForm .input-group .input-group-addon { border-color: #a4a2a3; background: #a4a2a3; color: #fff; }
#pjWrapper .pjSlForm .input-group .input-group-addon:hover,
#pjWrapper .pjSlForm .input-group .input-group-addon:focus,
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { color: #12965d; }
#pjWrapper .pjSlForm .input-group .form-control:focus ~ .input-group-addon { border-color: #12965d; }

#pjWrapper .pjSlCustomCheckbox label { color: #0d0f0e; }
#pjWrapper .pjSlCustomCheckboxFake { border-color: #a4a2a3; background: #a4a2a3; color: #fff; }
#pjWrapper .pjSlCustomInputChecked .pjSlCustomCheckboxFake { border-color: #12965d; }

#pjWrapper .pjSlFormFiltersDropdownTitle { color: #0d0f0e; }

/* ==========================================================================
	#pjSlMain
========================================================================== */
#pjWrapper .pjSlMain,
#pjWrapper .pjSlMain .panel-heading,
#pjWrapper .pjSlMain .panel-body,
#pjWrapper .pjSlMain .panel-footer { border-color: #eef0ef; }

/* ==========================================================================
	#pjSlHeader
========================================================================== */
#pjWrapper .pjSlHeader { background: #eef0ef; }

#pjWrapper .pjSlLaunguage .dropdown-toggle { border-color: #a4a2a3; background: #a4a2a3; color: #fff; }
#pjWrapper .pjSlLaunguage.open .dropdown-toggle,
#pjWrapper .pjSlLaunguage .dropdown-toggle:hover { color: #12965d; }
#pjWrapper .pjSlLaunguage .dropdown-menu { border-color: #a4a2a3; background: #a4a2a3; }
#pjWrapper .pjSlLaunguage .dropdown-menu a { color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu a:hover,
#pjWrapper .pjSlLaunguage .dropdown-menu .current a { color: #fff; }
#pjWrapper .pjSlLaunguage .dropdown-menu a:hover { background: #12965d; }
#pjWrapper .pjSlLaunguage .dropdown-menu .current a { background: #1ca76c; }

/* ==========================================================================
	#pjSlBody
========================================================================== */
#pjWrapper .pjSlBody { background: #eef0ef; }

#pjWrapper .pjSlResults .pjSlResult { border-color: #eef0ef; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(odd) { background: #eef0ef; }
#pjWrapper .pjSlResults .pjSlResult:nth-child(even) { background: #fff; }
#pjWrapper .pjSlResults .pjSlResultTitle { color: #0d0f0e; }
#pjWrapper .pjSlResults .pjSlResultTitle a:hover,
#pjWrapper .pjSlResults .pjSlResultTitle a:focus { color: #1ca76c; }
#pjWrapper .pjSlResults .pjSlResultContent dt { color: #0d0f0e; }
#pjWrapper .pjSlAccordionActions a { color: #12965d; }
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"],
#pjWrapper .pjSlAccordionActions a:hover,
#pjWrapper .pjSlAccordionActions a:focus { color: #1ca76c; }
#pjWrapper .pjSlAccordionActions a .pjSlAccordionSign { border-color: #a4a2a3; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 27%, rgba(248,246,247,1) 57%, rgba(246,242,241,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f2f1',GradientType=0 );
}
#pjWrapper .pjSlAccordionActions a[aria-expanded="true"] .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:hover .pjSlAccordionSign,
#pjWrapper .pjSlAccordionActions a:focus .pjSlAccordionSign { border-color: #1ca76c; 
	background: rgb(246,242,241);
	background: -moz-linear-gradient(top,  rgba(246,242,241,1) 0%, rgba(248,246,247,1) 43%, rgba(253,253,253,1) 73%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f2f1', endColorstr='#ffffff',GradientType=0 );
}

/* ==========================================================================
	#pjSlMapInfoWindow
========================================================================== */
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowTitle { color: #0d0f0e; }
#pjWrapper .pjSlMapInfoWindow .pjSlMapInfoWindowContent dt { color: #0d0f0e; }